html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
body {
    padding: 20px 0;
}
nav a{
    color:inherit;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 20px;;
}
nav >ul{
    background-color: lightslategray;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li:hover {
    background-color: rgb(204, 49, 49);
    color: white;
}
.home-tool{
    display: flex;
    justify-content: center;
}
h1{
    text-align:center;
}
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
body {
    padding: 20px 0;
}
nav a{
    color:aliceblue;
    text-decoration: none;
    font-size: 2rem;
    font-family:sans-serif;
    padding: 20px;
}
nav >ul{
    background-color: lightslategray;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li:hover {
    background-color: rgb(63, 20, 238);
    color: rgb(10, 10, 10);
}
.home-tool{
    display: flex;
    justify-content: center;
}
h1{
    text-align:center;
}
.button{

    background-color: #dd3232;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
